In [1]:
import pandas as pd
import numpy as np
import os

from env import host, user, password

In [3]:
def get_connection(db, user=user, host=host, password=password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [32]:
sql_query = '''
SELECT * FROM properties_2017
LEFT JOIN airconditioningtype ON properties_2017.airconditioningtypeid= airconditioningtype.airconditioningtypeid
LEFT JOIN architecturalstyletype ON properties_2017.architecturalstyletypeid = architecturalstyletype.architecturalstyletypeid
LEFT JOIN heatingorsystemtype ON properties_2017.heatingorsystemtypeid = heatingorsystemtype.heatingorsystemtypeid
LEFT JOIN propertylandusetype ON properties_2017.propertylandusetypeid = propertylandusetype.propertylandusetypeid
LEFT JOIN predictions_2017 ON properties_2017.parcelid = predictions_2017.parcelid
LEFT JOIN buildingclasstype ON properties_2017.buildingclasstypeid = buildingclasstype.buildingclasstypeid
LEFT JOIN storytype ON properties_2017.storytypeid = storytype.storytypeid
LEFT JOIN typeconstructiontype ON properties_2017.typeconstructiontypeid = typeconstructiontype.typeconstructiontypeid
LEFT JOIN unique_properties ON properties_2017.parcelid = unique_properties.parcelid
WHERE transactiondate LIKE '2017-%%-%%'
AND WHERE longitude IS NOT NULL AND WHERE latitude IS NOT NULL
            '''
df = pd.read_sql(sql_query, get_connection('zillow'))
df.to_csv('zillow_df.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 78 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            119 non-null    int64
 1   parcelid                      119 non-null    int64
 2   airconditioningtypeid         119 non-null    float64
 3   architecturalstyletypeid      119 non-null    float64
 4   basementsqft                  0 non-null      object
 5   bathroomcnt                   119 non-null    float64
 6   bedroomcnt                    119 non-null    float64
 7   buildingclasstypeid           0 non-null      object
 8   buildingqualitytypeid         0 non-null      object
 9   calculatedbathnbr             119 non-null    float64
 10  decktypeid                    0 non-null      object
 11  finishedfloor1squarefeet      0 non-null      object
 12  calculatedfinishedsquarefeet  119 non-null    float64
 13  finishedsquarefeet12          119 non-null    float64
 14  finishedsquarefeet13          0 non-null      object
 15  finishedsquarefeet15          0 non-null      object
 16  finishedsquarefeet50          0 non-null      object
 17  finishedsquarefeet6           0 non-null      object
 18  fips                          119 non-null    float64
 19  fireplacecnt                  0 non-null      object
 20  fullbathcnt                   119 non-null    float64
 21  garagecarcnt                  119 non-null    float64
 22  garagetotalsqft               119 non-null    float64
 23  hashottuborspa                1 non-null      float64
 24  heatingorsystemtypeid         119 non-null    float64
 25  latitude                      119 non-null    float64
 26  longitude                     119 non-null    float64
 27  lotsizesquarefeet             33 non-null     float64
 28  poolcnt                       93 non-null     float64
 29  poolsizesum                   0 non-null      object
 30  pooltypeid10                  0 non-null      object
 31  pooltypeid2                   1 non-null      float64
 32  pooltypeid7                   92 non-null     float64
 33  propertycountylandusecode     119 non-null    object
 34  propertylandusetypeid         119 non-null    float64
 35  propertyzoningdesc            0 non-null      object
 36  rawcensustractandblock        119 non-null    float64
 37  regionidcity                  118 non-null    float64
 38  regionidcounty                119 non-null    float64
 39  regionidneighborhood          13 non-null     float64
 40  regionidzip                   119 non-null    float64
 41  roomcnt                       119 non-null    float64
 42  storytypeid                   0 non-null      object
 43  threequarterbathnbr           49 non-null     float64
 44  typeconstructiontypeid        116 non-null    float64
 45  unitcnt                       0 non-null      object
 46  yardbuildingsqft17            0 non-null      object
 47  yardbuildingsqft26            0 non-null      object
 48  yearbuilt                     119 non-null    float64
 49  numberofstories               119 non-null    float64
 50  fireplaceflag                 53 non-null     float64
 51  structuretaxvaluedollarcnt    119 non-null    float64
 52  taxvaluedollarcnt             119 non-null    float64
 53  assessmentyear                119 non-null    float64
 54  landtaxvaluedollarcnt         119 non-null    float64
 55  taxamount                     119 non-null    float64
 56  taxdelinquencyflag            1 non-null      object
 57  taxdelinquencyyear            1 non-null      float64
 58  censustractandblock           119 non-null    float64
 59  airconditioningtypeid         119 non-null    int64
 60  airconditioningdesc           119 non-null    object
 61  architecturalstyletypeid      119 non-null    int64
 62  architecturalstyledesc        119 non-null    object
 63  heatingorsystemtypeid         119 non-null    int64
 64  heatingorsystemdesc           119 non-null    object
 65  propertylandusetypeid         119 non-null    int64
 66  propertylandusedesc           119 non-null    object
 67  id                            119 non-null    int64
 68  parcelid                      119 non-null    int64
 69  logerror                      119 non-null    float64
 70  transactiondate               119 non-null    object
 71  buildingclasstypeid           0 non-null      object
 72  buildingclassdesc             0 non-null      object
 73  storytypeid                   0 non-null      object
 74  storydesc                     0 non-null      object
 75  typeconstructiontypeid        116 non-null    float64
 76  typeconstructiondesc          116 non-null    object
 77  parcelid                      119 non-null    int64
dtypes: float64(40), int64(9), object(29)
memory usage: 72.6+ KB

In [2]:
def get_zillow_data():
    filename = "zillow_df.csv"
    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
        # read the SQL query into a dataframe
        df = pd.read_sql(''' SELECT * FROM properties_2017
LEFT JOIN airconditioningtype ON properties_2017.airconditioningtypeid= airconditioningtype.airconditioningtypeid
LEFT JOIN architecturalstyletype ON properties_2017.architecturalstyletypeid = architecturalstyletype.architecturalstyletypeid
LEFT JOIN heatingorsystemtype ON properties_2017.heatingorsystemtypeid = heatingorsystemtype.heatingorsystemtypeid
LEFT JOIN propertylandusetype ON properties_2017.propertylandusetypeid = propertylandusetype.propertylandusetypeid
LEFT JOIN predictions_2017 ON properties_2017.parcelid = predictions_2017.parcelid
LEFT JOIN buildingclasstype ON properties_2017.buildingclasstypeid = buildingclasstype.buildingclasstypeid
LEFT JOIN storytype ON properties_2017.storytypeid = storytype.storytypeid
LEFT JOIN typeconstructiontype ON properties_2017.typeconstructiontypeid = typeconstructiontype.typeconstructiontypeid
LEFT JOIN unique_properties ON properties_2017.parcelid = unique_properties.parcelid
WHERE transactiondate LIKE '2017-%%-%%'
AND WHERE longitude IS NOT NULL AND WHERE latitude IS NOT NULL''', get_connection('zillow'))
        # Write that dataframe to disk for later. Called "caching" the data for later.
        df.to_file(filename)
        # Return the dataframe to the calling code
        return df

In [34]:
data= get_zillow_data()

In [36]:
data.shape

(119, 79)

In [ ]:
# look at types of joins